{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Account Activated" %}{% endblock %}

{% block body_block %}
     <section class="ui six wide column">
        <h1 class="ui header ">{% trans "activation"|title %}</h1>
        <div class="ui  divider "></div>
    <section class="ui message positive">
<p>
    {% trans "Your account is now activated." %}
    {% if not user.is_authenticated %}
    {% trans "You can log in." %}
    {% endif %}
    <a href="{% url 'home' %}">{% trans 'home'|title %}</a>
</p></section>
{% endblock %}


{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variaveis of its own, and should simply inform the user that their
account is now active.
{% endcomment %}
