{% extends "registration/registration_base.html" %}
{% load i18n l10n %}

{% block title %}{% trans "Log in" %}{% endblock %}



{% block body_block %}
    <section class="fourteen wide column">

        {% if user.is_authenticated %}
            <section class="ui twelve wide column aligned centered">
                {#        {{LANGUAGE_CODE  }}#}
                <h1 class="ui header ">403 - {% trans "permission danied"|title %}</h1>
                <div class="ui  divider "></div>
                <div><img src="/media/403new{{ LANGUAGE_CODE }}.png" alt="{% trans "permission danied"|title %}"/></div>
            </section>
        {% else %}
            <div class="ui centered middle aligned six column stackable grid">
                <div class="five wide column row">
                    <div class="ui segment">
                        <h1 class="ui center aligned icon">
                            <i class="sign in icon"></i>{% trans "login"|title %}
                        </h1>



                        {% if form.errors %}
                            <p class="ui error message">
                                <i class="close icon"></i>
                                <span class="header">
                                {% trans 'error while trying to sign in ' %}!
                            </span>
                                <span>{% trans 'your email or password may be wrong' %}.</span>
                            </p>
                        {% endif %}

                        <form novalidate class="ui large form" action="" method="post"
                              id="login-form">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ next }}"/>
                            <div class="fields">
                                <div class="sixteen wide field">
                                    <label class="required" for="id_username"> <i
                                            class="mail icon"></i>{% trans "email"|title %}:</label>
                                    <input type="text" name="username" autofocus required id="id_username"
                                           maxlength="254"/>
                                </div>
                            </div>
                            <div class="fields">
                                <div class="sixteen wide field">
                                    <label class="required" for="id_password"> <i
                                            class=" lock icon"></i>{% trans "password"|title %}:</label>
                                    <input type="password" name="password"
                                           required id="id_password"/>
                                </div>
                            </div>

                            <div class="ui  row">
                                <div class="form">
                                    <input class="ui  fluid  button " type="submit" value="{% trans "log in"|title %}"/>
                                </div>
                            </div>
                            <div class="ui horizontal divider">
                                Ou
                            </div>
                            <div class="form-row centralizar">
                                <a class="button" href="{% url 'social:begin' 'facebook' %}?next={{ next }}">
                                    <i class="facebook square icon"></i>Facebook
                                </a>
                                &nbsp
                                <a class="button" href="{% url 'social:begin' 'google-oauth2' %}?next={{ next }}">
                                    <i class="google icon"></i>Gmail
                                </a>
                                &nbsp
                                <a class="button cor" href="{% url 'social:begin' 'twitter' %}?next={{ next }}">
                                    <i class="twitter square icon"></i>Twitter
                                </a>
                            </div>
                            <div class="ui basic segment">
                                <div class="form-row">
                                    <div class="ui white label">
                                        <h4 class="color_font">
                                            <i class="user icon"></i>{% trans "Not a member?" %}
                                            <a href="{% url 'registration_register' %}"><i
                                                    class="plus icon"></i> {% trans "Register" %}</a>.
                                        </h4>
                                    </div>
                                </div>
                                <div class="form-row centralizar">
                                    <h5><a class='button'
                                           href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}<i
                                            class="help circle icon"></i></a></h5>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}

    </section>


{% endblock %}

