{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Logged out" %}{% endblock %}

{% block body_block %}
    <section class="ui six wide column">
        <h1 class="ui header ">Logout</h1>
        <div class="ui  divider "></div>
        {% include "includes/message.html" %}
        <section class="ui message positive">
            <p>{% trans "Successfully logged out" %}.</p>
        </section>
        <p>Para se logar novamente <a href="{% url 'auth_login' %}">Click aqui </a></p>
    </section>
{% endblock %}
