{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password changed" %}{% endblock %}

{% block body_block %}
    <section class="ui six wide column">
        <h1 class="ui header "></h1>
        <div class="ui  divider ">{% trans "Change password" %}</div>
{#    <section class="six wide column">#}
{#        <h1>{% trans "Password changed" %}</h1>#}
        <div class="ui message positive">
            <p>{% trans "Password successfully changed!" %}</p></div>
    </section>
{% endblock %}


{# This is used by django.contrib.auth #}
