{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block meta %}
    <!-- NOTE(joshblum): This prevents leaking the password reset token via the
       Referer header to any 3rd party apps on the page. -->
    <meta name="referrer" content="origin">
{% endblock %}

{% block title %}
{#<section class="six wide column">#}
{#    <h1>{% trans "Confirm password reset" %}</h1>#}
    {% trans "Confirm password reset" %}{% endblock %}

    {% block body_block %}
    <section class="ui six wide column">
        <h1 class="ui header ">{% trans "confirm passowrd"|title %} </h1>
        <div class="ui  divider "></div>
        {% if validlink %}

            {% trans "Confirm password reset" %}
            <p>{% trans "Enter your new password below to reset your password:" %}</p>
            {% include 'includes/form.html' %}
        {% else %}
            {% trans "password reset unsuccessful"|title %}.{% trans "please"|title %}
            <a href="{% url 'auth_password_reset' %}">{% trans "try again"|title %}.</a>
        {% endif %}
        </section>
    {% endblock %}


{# This is used by django.contrib.auth #}
