{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block body_block %}
<section class="ui six wide column">
        <h1 class="ui header ">{% trans "Password reset" %}</h1>
        <div class="ui  divider "></div>
{#    <section class="six wide column">#}
{#        <h1>{% trans "Password reset" %}</h1>#}
        <div class="ui message positive">
            <p>
                {% blocktrans %}
                    We have sent you an email with a link to reset your password. Please check
                    your email and click the link to continue.
                {% endblocktrans %}
            </p>
        </div>
    </section>
{% endblock %}


{# This is used by django.contrib.auth #}
