{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block body_block %}
    {#<form method="post" action="">#}
    {#    {% csrf_token %}#}
    {#    {{ form.as_p }}#}
    {#    <input type="submit" value="{% trans 'Change password' %}" />#}
    {#</form>#}

    <section class="six wide column">
        <h1>{% trans "Change password" %}</h1>

        {% include 'includes/form.html' %}
    </section>
{% endblock %}


{# This is used by django.contrib.auth #}
