{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset complete" %}{% endblock %}

{% block body_block %}

    <section class="six wide column">
        <h1>{% trans "Password reset complete" %}</h1>
        <div class="ui message positive">

            <p>
                {% trans "Your password has been reset!" %}
                {% blocktrans %}You may now <a href="{{ login_url }}">log in</a>{% endblocktrans %}.

            </p></div>
    </section>
{% endblock %}


{# This is used by django.contrib.auth #}
