{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Activation email sent" %}{% endblock %}


        {% block body_block %}
          <section class="ui six wide column">
        <h1 class="ui header ">Check email</h1>
        <div class="ui  divider "></div>
{#            <section class="six wide column">#}
{#    <h1>Adicionar Categoria</h1>#}
    <div class="ui message positive">
            <p>{% trans "Please check your email to complete the registration process." %}</p></div>
            </section>

        {% endblock %}


{% comment %}
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variaveis of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
{% endcomment %}
