{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Account Activation Resent" %}{% endblock %}

{% block body_block %}

    <section class="ui six wide column">
        <h1 class="ui header ">Email Successuful<</h1>
        <div class="ui  divider "></div>
{#<section class="six wide column">#}
{#    <h1>Adicionar Categoria</h1>#}
    <div class="ui message positive">
<p>
  {% blocktrans %}
  We have sent an email to {{ email }} with further instructions.
  {% endblocktrans %}
</p>
    </div>
</section>
{% endblock %}


{% comment %}
**registration/resend_activation_complete.html**
Used after form for resending account activation is submitted. By default has
the following context:

``email``
    The email address submitted in the resend activation form.
{% endcomment %}
