input#id_email:valid,
input#id_old_password:valid,
input#id_new_password1:valid,
input#id_new_password2:valid {
    border: 1px solid #98DDB8 !important;
    background-color: #F0F9F4 !important;
}

/* Instituição */
#field-instituicao {
    display: none;
}

.instituicao .ui.multiple.dropdown {
    width: 100%
}

.instituicao .four.wide.column {
    padding: 0%;
    margin: auto;
}

.ui.form .field.instituicao > .selection.dropdown {
    width: 92%;
}