body {
    background-color: #1b1c1d;
}

article {
    /*min-height: 80% !important;*/
}

footer {
    min-height: 15% !important;
    /*padding-top: 2% !important;*/
    margin-top: 2% !important;
    /*background-color: #A59FA3 !important;*/
    /*background-color: #59487b !important;*/
    color: white;
}

article.ui.grid {
    margin-top: auto;
}

ul.list > li.item:before {
    display: none;
}

ul.list {
    margin-left: 2px !important;
}

ul.ui.menu, article > ul.list > li.item, ul.right.menu > li {
    list-style: none;
    padding: 0;

}

.ui.bottom.attached.segment.pushable {
    border: none;
}

/*ul.right.menu > li  {*/
/*list-style: none;*/
/*}*/

.errorlist > li {
    list-style: none;
    padding: 0;
    margin-left: -30px;
    margin-top: -10px;
    margin-bottom: -10px;
}

ul.ui.menu, article > ul.list > li.item {
    list-style: none;
    padding: 0;

}

.thumbs.down.icon.big, .thumbs.up.icon.big, .floated.like>span {
    color: #343434;
}

.thumbs.down.gray.icon.big, .thumbs.up.gray.icon.big {
    color: rgba(0, 0, 0, .4);
}

i.ui.red.tiny.icon.asterisk {
    vertical-align: super;
}

.pushable {
    height: initial;
}
.ui.cards > .ui.card {
    border-top: #343434 solid 2.5px;
}
.ui.stackable.centered.aligned.grid.row{
    background-color: rgba(0,0,0,.02);
}
.ui.header.title{
    color:rgba(0,0,0,.7);
    margin: 2% !important;
}

.ui.stackable.cards .card, .ui.three.cards {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}
.ui.grid.relaxed.stackable.column.row{
    padding: 10px;
}
.ui.tiny.image.flag{
    width: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.ui.three.cards.stackable > :not(.card) {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.ui.attached.button.fluid {
    box-shadow: none !important;
}

.ui.positive.right.labeled.icon.button > a {
    color: white;
}

.ui.collapsing.table {
    width: 100%;
}