body{
    background-color:#1b1c1d;
}
article {
    /*min-height: 80% !important;*/
}

footer {
    min-height: 15% !important;
    /*padding-top: 2% !important;*/
    margin-top: 2% !important;
    /*background-color: #A59FA3 !important;*/
    /*background-color: #59487b !important;*/
    color: white;
}
article.ui.grid{
    margin-top: auto;
}
ul.list > li.item:before {
    display: none;
}

ul.list {
    margin-left: 2px !important;
}
ul.ui.menu, article > ul.list > li.item {
    list-style: none;
    padding: 0;

}
.ui.bottom.attached.segment.pushable{
    border: none;
}