.e-green-button {
    color: white !important;
    background-color: #3F7C4E !important;
}

.e-green-button:hover {
    color: white !important;
    background-color: #2b6341 !important;
}

.e-red-button {
    color: white !important;
    background-color: #B72E24 !important;
}

.e-red-button:hover {
    color: white !important;
    background-color: #9c261f !important;
}

.e-blue-button {
    color: white !important;
    background-color: #00807E !important;
}

.e-blue-button:hover {
    color: white !important;
    background-color: #006b69 !important;
}

.e-blue-purple-button {
    color: white !important;
    background-color: #00807E !important;
}

.e-blue-purple-button:hover {
    color: white !important;
    background-color: #3D2662 !important;
}