{% load staticfiles system %}
{% load i18n %}
<div class="ui three cards stackable">
    {% if categories %}
        {% include "includes/category_like_general.html" %}
    {% else %}
        <div class="ui icon message">
            <i class="warning icon"></i>
            <div class="content">
                <h3 class="header">
                    <strong>{% trans "not exist categories added"|title %}.</strong>
                </h3>
                <p>{% trans "category add" %} <a href="{% url "category-add" %}">here</a>!</p>
            </div>
        </div>
    {% endif %}
</div>
{#</section>#}
