{#    <div class="row">#}

{#</div>#}
{% load staticfiles system %}
{% load i18n %}

<div class="ui three cards stackable">
    {% if categories %}


        {% for category in categories %}
            <div class="ui card">
                <div class="content">
                    <i class="ui icon hashtag right floated">{{ forloop.counter }}</i>
                    <div class="header"><a href="{% url 'category-detail' category.slug %}"><i
                            class="info  icon"></i>{{ category.name|title }}
                    </a>
                    </div>
                    <div class="description">
{#                        <p class="ui right floated aligned">  {{ category.description|truncatechars:20 }}#}
                        <p class="ui  floated aligned">  {{ category.description|truncatechars:20 }}
                            <a href="{% url 'user-detail' category.user %}">by {{ category.user }}</a>
                        </p>
                    </div>
                </div> {% if user == category.user %}
                <a href="{% url 'category-update' category.slug %}" class="ui button attached fluid tertiary">{% trans "edit"|title %}</a>
                 {% else %}
                <div class="extra content">

                    <span class="left floated like">
                        <a href="#" id="js-category-{{ category.slug }}"
                           onclick="set_like_category('{{ category.slug }}')">
                        <i id="js-icon-category-{{ category.slug }}"
                           class="thumbs  up  {% if  category  not in profile_request.category_like.all %}  gray {% endif %} icon big"></i></a>
                        <span id="js-count-likes-category-{{ category.slug }}">{{ category.likes }}</span>
                    </span>
                    <span class="right floated star">
                        <span class="left floated like">
                        <a href="#" id="js-deslike-category-{{ category.slug }}"
                           onclick="set_deslike_category('{{ category.slug }}')">
                        <i id="js-icon-deslike-category-{{ category.slug }}"
                           class="thumbs  down  {% if  category  not in profile_request.category_deslike.all %}  gray {% endif %} icon big"></i></a>
                        <span id="js-count-deslikes-{{ category.slug }}">{{ category.deslikes }}</span>
                        </span>
                    </span>

                </div>
 {% endif %}

            </div>

        {% endfor %}
    {% else %}
        <strong>{% trans "not exist categories added"|title %}.</strong>
    {% endif %}
</div>
{#</section>#}
