{% load staticfiles system %}
{% load i18n %}
<div class="ui three cards stackable">
    {% if categories_friends %}
        {% include "includes/category_like_general.html" %}
    {% else %}
        <div class="ui icon message">
            <i class="warning icon"></i>
            <div class="content">
                <h3 class="header">
                    <strong>{% trans "not exist categories added"|title %}.</strong>
                </h3>

            </div>
        </div>
    {% endif %}
</div>
{#</section>#}
