{% load staticfiles %}
{% load i18n %}

<footer class="ui black inverted vertical footer relaxed segment">
    <div class="ui seven column middle aligned centered inverted divided stackable grid">
        <div class="two wide column">
                            <img class="ui image big" src="{% static "images/favicon.png" %}"/>

        </div>
        <div class="two wide column">
{#                            <img class="ui image big" src="{% static "images/logo_flash.png" %}"/>#}
            <h2 class="ui inverted centered header">
{#                <i class="rebel icon"></i>#}
                <div class="content">
                    S.T.A.R Corporation
                    <div class="sub header">© Copyright 2017</div>
                </div>
            </h2>
        </div>
        <div class="three wide column">
            <ul class="ui divided celled relaxed inverted list">
                <li class="item"><a href="http://git.fabricadesoftware.ifc.edu.br/users/sign_in"
                                    target="_blank"><i
                        class="ui github large icon"></i>Github</a></li>
                <li class="item"><a href="https://www.instagram.com/nodes.fabricadesoftware/" target="_blank"><i
                        class="ui instagram large icon"></i>Instagram</a></li>
                <li class="item"><a href="https://www.facebook.com/fabricadesoftware" target="_blank"><i
                        class="ui facebook large icon"></i>Facebook</a></li>
            </ul>
        </div>
    </div>
</footer>