{% load i18n %}
<ul class="ui stackable inverted attached  menu ">
    <a class="item sidebar-menu">
        <i class="sidebar icon"></i>
        Menu
    </a>
    <nav class="right menu">
        {% include 'includes/language_options.html' %}
        {% if user.is_authenticated %}
            <a class="item {% block active_logout %}{% endblock active_logout %} right aligned"
               href="{% url 'auth_logout' %}"><i
                    class="ui sign in icon"></i>{% trans "logout"|title %}</a>
            <p class="item disabled"><i class="ui icon rebel"></i> {{ request.user|title }}</p>
        {% else %}
            {#         {{ request.path }}#}
            <a class="item {% block active_login %}{% endblock active_login %} right aligned"
               href="{% url 'auth_login' %}"><i
                    class="ui sign in icon"></i>{% trans "login"|title %}</a>
            <p class="item disabled">{% trans "you not is connected"|title %}.</p>
        {% endif %}
    </nav>
</ul>