{% load staticfiles system %}

<div class="ui three cards stackable ">
    {% if pages %}
        {% for page in pages %}
            <div class="ui  card  black">
                <div class="content">
                    <i class="ui icon hashtag right floated">{{ forloop.counter }}</i>
                    <div class="header"><a target=_blank href="{{ page.url }}"><i
                            class="ui icon info"></i>{{ page.title|title }}</a>
                    </div>
                    <div class="description">
{#                        <p class="ui right floated aligned">  {{ page.description|truncatechars:20 }}#}
                        <p class="ui  floated aligned">  {{ page.description|truncatechars:20 }}
                            <a href="{% url 'user-detail' page.category.user %}">by {{ page.category.user }}</a>
                        </p>
                    </div>
                </div>
{#                        {% profile request.user %}#}

                <div class="extra content">
                    <span class="left floated like">
                        <a href="#" id="js-page-{{ page.id }}"
                           onclick="set_like_page('{{ page.id }}')">
                        <i id="js-icon-page-{{ page.id }}"
                           class="thumbs  up  {% if  page  not in profile_request.page_like.all %}  gray {% endif %} icon big"></i></a>
                        <span id="js-count-likes-page-{{ page.id }}">{{ page.likes }}</span>
                    </span>
                    <span class="right floated star">
                        <span class="left floated like">
                        <a href="#" id="js-deslike-page-{{ page.id }}"
                           onclick="set_deslike_page('{{ page.id }}')">
                        <i id="js-icon-deslike-page-{{ page.id }}"
                           class="thumbs  down  {% if  page  not in profile_request.page_deslike.all %}  gray {% endif %} icon big"></i></a>
                        <span id="js-count-deslikes-page-{{ page.id }}">{{ page.deslikes }}</span>
                        </span>
                    </span>
                </div>

            </div>

        {% endfor %}
    {% else %}
        <strong>Não existem páginas cadastradas.</strong>
    {% endif %}
</div>
