{% load staticfiles system %}
{% load i18n %}

<div class="ui three cards stackable ">
    {% if pages %}
        {% for page in pages %}
            <div class="ui  card">
                <div class="content">
                    <i class="ui icon hashtag right floated">{{ forloop.counter }}</i>
                    <div class="header"><a target=_blank href="{% url "page-detail" page.id %}"><i
                            class="ui icon info"></i>{{ page.title|title }}</a>
                    </div>
                    <div class="description">
                        <p class="ui  floated aligned">  {{ page.description|truncatechars:20 }}
                            <a href="{% url 'user-detail' page.category.user %}">by {{ page.category.user }}</a>
                        </p>
                    </div>
                </div>
                {#            {{ request.user }}#}
                {% if request.user == page.category.user %}
                    <span class="ui two buttons">
                    <a href="{% url 'page-update' page.id %}"
                       class="ui button attached fluid gray"><i class="icon edit"></i></a>

                 <a class="ui button attached fluid tertiary black delete page"
                    href="{% url 'page-delete' page.id %}"><i class="icon close"></i> </a>
{#                     {% include "includes/modal_page.html" %}#}
                     </span>
                {% else %}
                    <div class="extra content">

                    <span class="left floated like">
                        <a href="#" id="js-page-{{ page.id }}"
                           onclick="set_like_page('{{ page.id }}')">
                        <i id="js-icon-page-{{ page.id }}"
                           class="thumbs  up  {% if  page  not in profile_request.page_like.all %}  gray {% endif %} icon big"></i></a>
                        <span id="js-count-likes-page-{{ page.id }}">{{ page.likes }}</span>
                    </span>
                        <span class="right floated star">
                        <span class="left floated like">
                        <a href="#" id="js-deslike-page-{{ page.id }}"
                           onclick="set_deslike_page('{{ page.id }}')">
                        <i id="js-icon-deslike-page-{{ page.id }}"
                           class="thumbs  down  {% if  page  not in profile_request.page_deslike.all %}  gray {% endif %} icon big"></i></a>
                        <span id="js-count-deslikes-page-{{ page.id }}">{{ page.deslikes }}</span>
                        </span>
                    </span>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <div class="ui icon message">
            <i class="warning icon"></i>
            <div class="content">
                <h3 class="header">
                    <strong>{% trans "not exist pages added"|title %}.</strong>
                </h3>
                <p>{% trans "page add" %} <a href="{% url "category-list" %}">here</a>!</p>
            </div>
        </div>
    {% endif %}
</div>
