{% load staticfiles system %}

<div class="ui card">
    <div class="image">
        <img src="{% media profile_card.picture %}"
             alt="Foto do {{ profile_card.user }} "/>
    </div>
    <div class="content">
        <a class="header" id="username-ranking"> {{ profile_card.user.username }}</a>
        <div class="description">
            {{ profile_card.description }}
        </div>
    </div>
    <div class="extra content center aligned">
        <span id="position-card">{{ position }}</span>º no Ranking
    </div>
    <div class="extra content center aligned">
{#        <i id="lightning-1" class="icon yellow lightning"></i>#}

{#        {% for i in lightning.yellow %}#}
{#            <i id="lightning-{{ i }}" class="icon yellow lightning"></i>#}
{#        {% endfor %}#}
{#        {% for i in lightning.noyellow %}#}
{#            <i id="lightning-{{ i }}" class="icon lightning"></i>#}
{#        {% endfor %}#}
    </div>
    <div class="extra content center aligned">
        {{ profile_card.points }} Pontos

    </div>
</div>