{% load staticfiles system %}
{% load i18n %}

<div class="ui card">
    <div class=" blurring dimmable image">
        {% if not request.user|is_card_profile:profile_card.user %}

            <div class="ui dimmer">
                <div class="content">
                    <div class="center">


                        <div class="ui inverted button">
                            <a href="#" onclick="set_friend('{{ user|profile }}')">
                                <i id="js-icon-friend-{{ user|profile }}"
                                   class="ui icon {% if   request.user|is_friend:user.username %} plus gray {% else %} minus {% endif %} "></i>
                                {% trans "friend"|title %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}

        <img src="{% media profile_card.picture %}"
             alt="Foto do {{ profile_card.user }} "/>
    </div>
    <div class="content">
        <a class="header" id="username-ranking"
           href="{% url 'user-detail'  profile_card.user.username %}"> {{ profile_card.user.username }}</a>
        <div class="description">
            {{ profile_card.description }}
        </div>
    </div>
    <div class="extra content center aligned">
        <span id="position-card">{{ position }}</span>º {% trans "in ranking"|title %}
    </div>
    <div class="extra content center aligned">
        {% lightning profile_card.points %}

    </div>
    <div class="extra content center aligned">
        {{ profile_card.points }} {% trans "points"|title %}

    </div>

</div>

