{% load staticfiles system %}
{% load i18n %}

{#<div class="ui card">#}
    <div class="image">
        <img src="{% media user_profile.picture %}"
             alt="Foto do {{ user_profile.user }} "/>
    </div>
    <div class="content">
        <a class="header" id="username-ranking"> {{ user_profile.user.username }}</a>
        <div class="description">
            {{ user_profile.description }}
        </div>
    </div>
    <div class="extra content center aligned">
        <span id="position-card">{{ position }}</span>º {% trans "in ranking"|title %}
    </div>
    <div class="extra content center aligned">
        {% lightning user_profile.points %}
    </div>
    <div class="extra content center aligned">
        {{ user_profile.points }} {% trans "Points"|title %}

    </div>

