{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
Sobre o Rango
{% endblock title_block %}

{% block body_block %}
<h1>Sobre o <a href="{% url 'home' %}">Rango</a><br /></h1>
<div>
    O rango é uma aplicação para o gerenciamento de sites, feito em Django e utilizado nas aulas de Desenvolvimento Web 2.
</div>
<div>
    <div><img src="{% static "images/pp.jpeg" %}" alt="Foto do Flash" /></div>
    <div><img src="/media/bartholomew.jpg" alt="Foto do Bartholomew" /></div>
</div>
</hr>
<div>
    Desenvolvido por {{ autor }}
</div>
{% endblock body_block %}