<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalhes da Categoria</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}" />
</head>
<body>
<div>
    {% if category %}
        <h1>{{ category.name }}</h1>
        {% if pages %}
            <ul>
                {% for page in pages %}
                    <li><a target=_blank href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>Não há páginas atualmente nessa categoria.</strong>
        {% endif %}
    {% else %}
        404 - A categoria especificada não existe.
    {% endif %}
</div>
<a href="/rango/category/{{category.slug}}/add_page/">Adicionar página em {{ category.name }}</a> <br/>
    <a href="{% url "home" %}">Home</a><br />
</body>
</html>