{% extends 'base.html' %}
{% load staticfiles %}
{% block css_login %}
    <link rel="stylesheet" type="text/css" href='{% static "css/login.css" %}'>
{% endblock %}
{% block title %}Entrar{% endblock %}
{% block active_entrar %}active{% endblock %}
{% block body_block %}

    {% if user.is_authenticated %}
        <div class="ui centered middle aligned grid">
            <div class="row"></div>
            <div class="six wide column">
                 <a href="/"><img alt="acesso proibido -  Atronauta gritando 403! Rodeado de equipamentos  como: smatphones,
                 panetas e pokebola" class="ui medium centered image" src="/static/image/403.png"/></a>
                <a href="/"><img alt="403 acesso proibido " class="ui medium centered image" src="/static/image/403_texto.png"/></a>
            </div>
        </div>
    {% else %}
        <div class="ui centered middle aligned six column stackable grid">
            <div class="five wide column row">
                <div class="ui segment">
                    <h1 class="ui center aligned icon">
                        <i class="sign in icon"></i>Entrar
                    </h1>



                    {% if form.errors %}
                        <p class="ui error message">
                            <i class="close icon"></i>
                            <span class="header">
                                Erro na tentativa de entrar!
                            </span>
                            <span>Seu e-mail ou senha pode estar errado.</span>
                        </p>
                    {% endif %}
                        <form novalidate class="ui large form" action="{% url 'login' %}?next={{ next }}" method="post"
                              id="login-form">
                            {% csrf_token %}
                            <div class="fields">
                                <div class="sixteen wide field">
                                    <label class="required" for="id_username"> <i class="mail icon"></i>E-mail:</label>
                                    <input type="text" name="username" autofocus required id="id_username"
                                           maxlength="254"/>
                                </div>
                            </div>
                            <div class="fields">
                                <div class="sixteen wide field">
                                    <label class="required" for="id_password"> <i class=" lock icon"></i>Senha:</label>
                                    <input type="password" name="password"
                                           required id="id_password"/>
                                </div>
                            </div>
                            <div class="form-row centralizar">
{#                                <h5><a class='button' href="{% url 'password_reset' %}">Esqueceu a senha<i#}
{#                                        class="help circle icon"></i></a></h5>#}
                            </div>
                            <div class="ui  row">
                                <div class="form">
                                    <input class="ui  fluid  button " type="submit" value="Entrar"/>
                                </div>
                            </div>
                            <div class="ui horizontal divider">
                                Ou
                            </div>
                            <div class="form-row centralizar">
                                <a class="button" href="{% url 'social:begin' 'facebook' %}?next={{ next }}">
                                    <i class="facebook square icon"></i>Facebook
                                </a>
                                &nbsp
                                <a class="button" href="{% url 'social:begin' 'google-oauth2' %}?next={{ next }}">
                                    <i class="google icon"></i>Gmail
                                </a>
                                &nbsp
                                <a class="button cor" href="{% url 'social:begin' 'twitter' %}?next={{ next }}">
                                    <i class="twitter square icon"></i>Twitter
                                </a>
                            </div>
                            <div class="ui basic segment">
                                <div class="form-row">
                                    <div class="ui white label">
                                        <h4 class="color_font">
                                            <i class="user icon"></i> Não tem cadastro?
{#                                            <a class='cadastre' href="{% url 'user-add' %}">#}
                                                <i class="plus icon"></i>Cadastre-se</a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </form>
{#                    </div>#}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}