{% extends 'base.html' %}
{% load staticfiles system %}

{% block body_block %}
    <section class="ui twelve wide column">
        <h1 class="ui header ">404 - Pagina não encontrada</h1>
        <div class="ui  divider "></div>
{#    <div><img src="/media/404.png" alt="Error 404" /></div>#}
{#    <div><img src="{% static "/media/404.png" %}" alt="Error 404" /></div>#}
{#    <div><img src="{% static "/media/404.png" %}" alt="Error 404" /></div>#}
    <div><img src="{% static "images/404.png" %}" alt="Error 404" /></div>

{#    <div><img src="{% static "/images/404.png" %}" alt="Error 404" /></div>#}
    </section>
{% endblock %}