<!DOCTYPE html>
{% load staticfiles %}
{% load system %}
{#{% load staticfiles static %}#}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href='{% static "images/favicon.png" %}'>
<title>{% block title %}Rango - The Flash{% endblock %}</title>

<link rel="stylesheet" type="text/css" href='{% static "semanticui/semantic.min.css" %}'>
<link rel="stylesheet" type="text/css" href='{% static "css/base.css" %}'>
<link rel="stylesheet" type="text/css" href='{% static "css/button.css" %}'>


{% block css_login %}{% endblock %}

<script src='{% static "js/jquery-3.2.1.js" %}'></script>
<script src='{% static "semanticui/semantic.min.js" %}'></script>
<script src='{% static "js/js.js" %}'></script>
{% load i18n %}
<html>
<head>
    <title>
        Rango -
        {% block title_block %}
            The Flash!
        {% endblock title_block %}
    </title>
    <link rel="stylesheet" href="{% static "css/base.css" %}"/>
</head>
<body>
{% include 'includes/menu.html' %}
<div class="ui bottom attached  segment pushable">
    {% include 'includes/sidebar.html' %}
    <div class="pusher">
        <article class="ui  stackable centered aligned grid row ">
            {% block body_block %}
            {% endblock %}
        </article>
        {% include 'includes/footer.html' %}


    </div>
</div>

</body>
</html>