{% extends 'base.html' %}
{% load staticfiles system%}

{% block title_block %}
    Sobre o Rango
{% endblock title_block %}

{% block body_block %}



    <section class="six wide column"><h1>Rango diz:</h1>

        Olá parceiro! <br/>
        <div class="ui card">
            <div class="image">
{#                <img src="{% static "images/pp.jpeg" %}"#}
{#                     alt="Foto do Flash"/>#}
                <img src="{% media  profile.picture  %}"
                     alt="Foto do Flash"/>
            </div>
            <div class="content">
                <a class="header"> {{ object.first_name }} {{ object.last_name }}</a>
                <div class="meta">
                    <span class="date"></span>
                </div>
                <div class="description">
                    {{ profile.description }}
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="likes icon"></i>
                    {{ profile.likes }} Likes
                </a>
            </div>
        </div>


    </section>

{% endblock %}