{% extends 'base.html' %}
{% load staticfiles system %}
{% load i18n %}

{% block title_block %}
    {% trans "details of profile"|title %}
{% endblock title_block %}

{% block body_block %}

    <section class="ui twelve wide column">
        <h1 class="ui header ">{% trans "profile"|title %}</h1>
        <div class="ui  divider "></div>
        <div class="row">
            {% include "includes/message.html" %}
        </div>
        <section class="ui relaxed stackable column grid row segment">
    <section class="four wide column  ">

                <img class="ui big image" src="{% media profile_request.picture %}">


                <a href="{% url 'user-update' user %}" class="ui button fluid attached basic">{% trans "change datas"|title %}</a>


                <a href="{% url 'user-profile-update' profile_request.id %}" class="ui button fluid attached basic">{% trans "change profile"|title %}</a>


                <a href="{% url 'auth_password_change' %}" class="ui button fluid attached basic">{% trans "change password"|title %}</a>


                <a href="{% url 'user-delete' user.id %}" class="ui button fluid attached basic">{% trans "deactivate account"|title %}</a>

            </section>

            <section class="twelve wide column">
                <div class="ui ">
                    <p>{% trans "name"|title %}:</p>
                    <p>{{ profile_request.user.first_name }} {{ profile_request.user.last_name }}</p>

                    <p>{% trans "email"|title %}: </p>
                    <p> {{ profile_request.user.email }} </p>
                    <p>{% trans "website"|title %}:</p>
                    <p><a href="{{ profile_request.website }}"> {{ profile_request.website }} </a></p>
                    <p>{% trans "group"|title %}:</p>
                    <p>
                        {% for group in user.groups.all %}
                            <span class="ui tiny label">
                              {{ group }}
                            </span>
                        {% endfor %}
                    </p>
                    <p>{% trans "description"|title %}:</p>
                    <p> {{ profile_request.description }} </p>
                </div>


            </section>

        </section>


{% endblock %}