{% extends 'base.html' %}
{% load staticfiles system %}

{% block title_block %}
    Sobre o Rango
{% endblock title_block %}

{% block body_block %}

<section class="ui twelve wide column">
    <h1 class="ui header ">Perfil</h1>
    <div class="ui  divider "></div>
    <section class="ui relaxed stackable column grid row">

        <section class="five wide column">
{#            {% include "includes/user_card.html" %}#}
{% user_profile profile_card.user %}
        </section>

        <section class="ten wide column">
            <section class="ui row ">
                <h3 class="ui horizontal divider header title">
                    <i class="trophy icon"></i>
                    Top 3 categorias mais curtidas
                </h3>
                {% include "includes/category_like.html" %}
                 <a href="{% url 'user-category-list' profile_card.user.username %}" class="ui button fluid basic ">Show all Categories</a>
            </section>
            <section class="ui row">
                <h3 class="ui horizontal divider header title">
                    <i class="trophy icon"></i>
                    Top 3 páginas mais visitadas
                </h3>
                {% include "includes/page_like.html" %}
                 <a href="{% url 'user-page-list' profile_card.user.username %}" class="ui button fluid basic">Show all Pages</a>
            </section>

        </section>
    </section>


{% endblock %}