
{% extends 'base.html' %}{% load i18n %}

{% block title_block %}
Adicionar Categoria
{% endblock title_block %}
{% load staticfiles %}


{% block body_block %}

     <section class="ui ten wide column">
        <h1 class="ui header ">Listar categorias </h1>
        <div class="ui  divider "></div>

{#    <section class="six wide column">#}
{#    <h1>Listar categorias</h1>#}
{#     #}
         {% include "includes/category_like.html" %}
{#    {% for object in object_list %}#}
{#    {{ object }}#}
{#    {% endfor %}#}
    </section>
{% endblock %}
