{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
Sobre o Rango
{% endblock title_block %}

{% block body_block %}
<div>
{% include 'includes/message.html' %}
    {% if object %}
        <h1>{{ object.name }}</h1>
        {% if pages %}
            <ul>
                {% for page in pages %}
                    <li><a target=_blank href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>Não há páginas atualmente nessa categoria.</strong>
        {% endif %}
    {% else %}
        404 - A categoria especificada não existe.
    {% endif %}
</div>
{#<a href="/rango/category/{{object.slug}}/page/cadastrar/">Adicionar página em {{ object.name }}</a> <br/>#}
<a href="{% url 'page-add' object.slug %}">Adicionar página em {{ object.name }}</a> <br/>
    <a href="{% url "home" %}">Home</a><br />
{% endblock %}