{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title_block %}
   {% trans "details of category"|title %}
{% endblock title_block %}
{% block body_block %}
    <section class="ui ten wide column">
        <h1 class="ui header ">
            {% trans "details of category"|title %}
            <span class="sub header">{{ object.description }}</span>
        </h1>
        <div class="ui  divider "></div>
        {% include 'includes/message.html' %}
        {% include "includes/page_like.html" %}
        <div class="ui  two fluid buttons ">
            <a class="ui button gray" href="">{% trans "back"|title %}</a>
            <a class="ui button black" href="{% url 'page-add' object.slug %}">{% trans "add page in"|title %} {{ object.name }}</a>
        </div>
        </section>
    </section>
{% endblock %}