{% extends 'base.html' %}{% load i18n %}
{% block title_block %}
{% trans "list categories"|title %}
{% endblock title_block %}
{% load staticfiles %}
{% block body_block %}
     <section class="ui ten wide column">
        <h1 class="ui header ">{% trans "list categories"|title %}</h1>
        <div class="ui  divider "></div>
         {% include 'includes/message.html' %}
         {% include "includes/category_like.html" %}
         <div class="ui  two fluid buttons ">
             <a class="ui button gray" href="{{ request.META.HTTP_REFERER }}">{% trans "back"|title %}</a>
             <a class="ui button black"
                href="{% url 'category-add' %}">{% trans "add category"|title %} {{ object.name }}</a>
         </div>
     </section>
{% endblock %}
