{% extends 'base.html' %}
{% load staticfiles system %}
{% load i18n %}
{% block title_block %}
    {% trans "details of category"|title %}
{% endblock title_block %}
{% block body_block %}
    <section class="ui ten wide column">
        <h1 class="ui header ">
            {% trans "details of category"|title %}
            <span class="sub header">{{ object.description }}</span>
        </h1>
        <div class="ui  divider "></div>
        {% include 'includes/message.html' %}
        {% include "includes/page_like.html" %}
        {% if request.user|permission_add_page:object.user %}
        <div class="ui  two fluid buttons ">
            <a class="ui button gray" href="{{ request.META.HTTP_REFERER }}">{% trans "back"|title %}</a>
            <a class="ui button black"
               href="{% url 'page-add' object.slug %}">{% trans "add page in"|title %} {{ object.name }}</a>
        </div>
        {% endif %}
    </section>
{% endblock %}