{% load i18n %}
<ul class="ui inverted divided list">
    {% if cats %}
        <strong>{% trans "categories"|title %}</strong><br/>
        {% for c in cats %}
            {% if c == act_cat %}
                <li class="item">
                    <strong>
                        <a href="{% url 'category-detail' c.slug %}">{{ c.name }}</a>
                    </strong>
                </li>
            {% else %}
                <li class="item">
                    <a href="{% url 'category-detail' c.slug %}">{{ c.name }}</a>
                </li>
            {% endif %}
        {% endfor %}
    {% else %}
        <li><strong>{% trans "there are no categories present"|title %}.</strong></li>
    {% endif %}
</ul>