
{% extends 'base.html' %}{% load i18n %}

{% block title_block %}
{% trans "add page"|title %}
{% endblock title_block %}
{% load staticfiles %}


{% block body_block %}
{#    {{ message_success }}#}
{#    <form action="" method="post">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <input type="submit" value="Save"/>#}
{#    </form>#}
    <section class="ui six wide column">
        <h1 class="ui header ">{% trans "add page"|title %}</h1>
        <div class="ui  divider "></div>
{#    <section class="six wide column">#}
    {% include 'includes/form.html' %}
    </section>
{% endblock %}
