{% extends 'base.html' %}{% load i18n %}

{% block title_block %}
    {% trans "add profile"|title %}
{% endblock title_block %}
{% load staticfiles %}
{% block body_block %}
    <section class="ui six wide column">
        <h1 class="ui header ">{% trans "add profile"|title %}</h1>
        <div class="ui  divider "></div>
        {% load staticfiles %}


        {{ message_success }}
        <form class="ui form warning" action="" method="post" enctype="multipart/form-data">

            {% include 'includes/fields.html' %}
            <div class="ui two buttons">
                <a href="{{ request.META.HTTP_REFERER }}" class="ui button fluid ">{% trans "back"|title %}</a>
                <input class="ui button fluid black" type="submit" value="{% trans "save"|title %}"/>
            </div>

        </form>


    </section>

{% endblock %}
{##}
{##}
{#{% block body_block %}#}
{#    {{ message_success }}#}
{#    <form class="ui form warning" action="" method="post">#}
{##}
{#        {% csrf_token %}#}
{#        {% for hidden in form.hidden_fields %}#}
{#            {{ hidden }}#}
{#        {% endfor %}#}
{##}
{#        {% for field in form.visible_fields %}#}
{#            <div class="field">#}
{#                <label>{{ field.label }}</label>#}
{#                {{ field }}#}
{#            {% if field.help_text %}#}
{#                <span class="ui pointing label">Ajuda:  {{ field.help_text }} </span>#}
{#            {% endif %}#}
{#            </div>#}
{#            {% if field.errors %}#}
{#                <span class="ui pointing red label">#}
{#                   {{ field.errors }}#}
{#               </span>#}
{#            {% endif %}#}
{#        {% endfor %}#}
{#        <input class="ui button fluid" type="submit" value="Save"/>#}
{#    </form>#}
{##}
{#{% endblock %}#}
